.container {
    margin-top: 20px;
}
h1 {
    margin-bottom: 20px;
}
.little {
    width: 20%;
    font-size: 12px;
    opacity: .8;
    margin-bottom: 0;
}

a {
    color: rgba(180, 12, 121, 0.68)
}

a:hover {
color: rgba(180, 12, 121, 1);
text-decoration: underline;
}

.btn-warning {
color: #fff;
background-color: rgba(210, 119, 178, 0.68);
border-color: rgba(210, 119, 178, 0.68);
}

.btn-warning:hover {
color: #fff;
background-color: rgba(210, 119, 178, 1);
border-color: rgba(210, 119, 178, 1);
}

.btn-danger {
color: #fff;
background-color: rgba(180, 12, 121, 0.68);
border-color: rgba(180, 12, 121, 0.68);
}

.btn-danger:hover {
color: #fff;
background-color: rgba(180, 12, 121, 1);
border-color: rgba(180, 12, 121, 1);
}

.btn-outline-primary:hover {
color: #fff;
background-color: rgba(180, 12, 121, 1);
border-color: rgba(180, 12, 121, 1);
}

.btn-outline-primary {
color: #fff;
background-color: rgba(180, 12, 121, 0.68);
border-color: rgba(180, 12, 121, 0.68);
}